@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Reusable Code */
body {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
}

header {
  padding: 15px 0;
}
ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}
a img {
  width: 5%;
}
h1 {
  font-weight: 800;
  font-size: 64px;
  line-height: 70px;
  margin-bottom: 16px;
}
h2 {
  font-size: 58px;
  line-height: 76px;
  width: 80%;
  font-weight: 800;
  margin-bottom: 34px;
}

h3 {
  font-size: 40px;
  color: #1e1b1b;
  font-weight: 700;
  margin-bottom: 20px;
}
h4 {
  font-weight: 700;
  color: #1e1b1b;
  font-size: 30px;
  margin-bottom: 25px;
}
.container {
  width: 90%;
  margin: 0 auto;
}

.list-iconText-flex li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

.list-iconText-flex li .icon-text {
  width: 60%;
  /* padding-left: 10px; */
}
.btn {
  border-radius: 12px;
  padding: 16px 40px;
  color: white;
  border: none;
  cursor: pointer;
}
.orange-btn {
  background: #ff6433;
}
.btn-dark {
  background: #1e1b1b;
}
.width-50 {
  width: 50%;
}
.title {
  font-weight: 600;
  font-size: 14px;
  opacity: 0.7;
  color: #1e1b1b;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: white;
  padding: 80px 0;
  transition: all 1s ease-in-out;
}
.box:hover {
  background: #ff6433;
  color: white;
}
/* Header section */
.hamburger {
  display: none;
}

.header-content p {
  margin-bottom: 0;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.header-content ul li {
  margin-left: 20px;
}

.links-section,
.phone-section {
  display: flex;
  align-items: center;
}

.links-section {
  gap: 20px;
}

.phone-section {
  gap: 15px;
  padding-left: 40px;
  border-left: 1px solid #ccc;
}

.hero-section {
  min-height: 100vh;
  padding: 80px 0;
  justify-content: center;
  align-items: center;
}

.hero-flex {
  display: flex;
  align-items: center;
}

.hero-flex .right-section .main-image img {
  object-fit: cover;
  width: 100%;
  height: 75vh;
}

.hero-flex .right-section {
  position: relative;
}

.hero-flex .top-image {
  position: absolute;
  top: 50px;
  left: -40px;
}

.hero-flex .bottom-image {
  position: absolute;
  bottom: 50px;
  right: -40px;
}

.left-section .time-band {
  display: flex;
  margin-top: 30px;
  gap: 10px;
}

/* Gray Section */
.gray-section {
  background: #e2e6e9;
  /* min-height: 85vh; */
  padding: 100px 0;
}

.grey-flex {
  display: flex;
}

.grey-flex .right-section input {
  width: 100%;
  padding: 10px 15px;
  font-size: 18px;
  margin-bottom: 5px;
  border-radius: 2px;
  border: none;
}

.arrow-btn {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}
/*  Quote  Help section */
.quoteHelp-section {
  padding: 90px 0;
}
.quoteHelp-flex {
  display: flex;
  gap: 10px;
}
.quoteHelp-section .left-section {
  align-self: center;
  width: 60%;
}
.quoteHelp-section .left-section p {
  padding-bottom: 20px;
  width: 60%;
}
.icon-box > img {
  width: 70%;
}
.line-icon {
  min-height: 72px;
  border-left: 2px dashed #ff6433;
  transform: translateX(22px);
}

.quoteHelp-section .right-section h5 {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 5px;
}

/* What we offer section */
.whatWeOffer-section {
  background: #f2f2f2;
  padding: 80px 0;
}
.whatWeOffer-section header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.whatWeOffer-boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}
.whatWeOffer-boxes p {
  padding-top: 6px;
  text-align: center;
}

.whatWeOffer-boxes .box:nth-child(3) {
  background: #ff6433;
  color: white;
}
.arrow-btn1 {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 15px;
}

/*  Query Section*/

.query-section {
  background-image: url(../images/query-bg.png), url(../images/query-bg2.png);
  background-repeat: no-repeat;
  background-position: top left -20px, top right;
  background-size: 50vw 100%, 50vw 100%;
}
.query-section .container {
  width: 80%;
}

.query-section h3 {
  color: #fff;
}
.query-text {
  background: rgba(255, 100, 51, 0.95);
  color: white;
  padding: 60px;
  width: 70%;
}
/* Rating */

.rating {
  background: #f2f2f2;
  padding: 40px 0;
}
.rating-grid h2 {
  color: #661ce7;
  margin: 0;
}
.rating-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
/* Brand we serve section */
.brands {
  padding: 80px 0;
  background: #fafafa;
}
.brands h3 {
  text-align: center;
}
.brands-img-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  text-align: center;
}
.brands-img-grid img {
  width: 100%;
}

.testimonial {
  padding: 80px 0;
  background: #ccc;
}

.testimonial .testimonial-heading {
  text-align: center;
  width: 50%;
  margin: 0 auto 100px auto;
}

.testimonial-flex {
  display: flex;
  gap: 40px;
}

.testimonial-flex .testimonial-card {
  background-color: #fff;
  padding: 60px;
}

.testimonial-card .person-info {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 20px;
}

.person-info h5 {
  font-size: 20px;
  font-weight: 600;
}

.directions {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.directions .prev-control,
.directions .next-control {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.directions .prev-control {
  background: white;
  color: black;
  height: 48px;
  width: 48px;
}

.directions .next-control {
  height: 62px;
  width: 62px;
  background: black;
  color: white;
}

.directions .control-flex {
  display: flex;
  gap: 10px;
  align-items: center;
}

.faq-section {
  padding: 100px 0;
  background: rgb(225, 230, 232);
}

.faq-section .faq-container {
  width: 50%;
  margin: 0 auto;
}

.faq-section h3 {
  text-align: center;
  width: 62%;
  margin: 0 auto 30px auto;
}
.faq-container .faq-card {
  background: white;
  padding: 40px;
  margin-bottom: 20px;
}

.faq-card .faq-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-card .faq-header .faq-question {
  width: 80%;
  margin-bottom: 0;
}

.faq-card .faq-header .faq-control {
  width: 40px;
  height: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  background: #ff6433;
  color: white;
}

.faq-card .faq-answer p {
  width: 80%;
}
/* footer */

footer p {
  margin-bottom: 0;
}
footer .footer-top {
  background: #1e1b1be0;
  padding: 40px 0;
}

.footer-top .left-section h3 {
  width: 60%;
  margin-bottom: 30px;
  color: #fff;
}
.footer-top .left-section i {
  margin-right: 10px;
  font-size: 24px;
}
.footer-top .right-section li {
  margin-bottom: 15px;
}

.footer-top .right-section li p {
  font-size: 16px;
}

.footer-top .right-section li h5 {
  font-size: 20px;
}

footer .footer-bottom {
  background: black;
  color: white;
}

.footer-top-flex {
  display: flex;
  color: white;
}

.footer-bottom-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

.footer-bottom-flex ul {
  list-style: none;
  display: flex;
}
.footer-bottom-flex ul li {
  margin-left: 20px;
}
.footer-bottom-flex ul li a {
  color: white;
}

@media (max-width: 920px) {
  .header-content {
    flex-direction: column;
  }
}

/* tablet view */

@media (max-width: 769px) {
  p {
    font-size: 20px;
  }
  h2 {
    font-size: 40px;
    line-height: 42px;
    font-weight: 700;

    width: 90%;
  }
  h3 {
    font-size: 30px;
    font-weight: 600;
  }
  h1 {
    font-size: 54px;
    line-height: 60px;
  }
  .header-content {
    flex-direction: row;
  }
  .hamburger {
    font-size: 30px;
    display: block;
  }
  .links-section {
    display: none;
  }

  /* Header Section */

  /* Hero section */
  .hero-flex .bottom-image,
  .hero-flex .top-image {
    display: none;
  }
  .hero-section {
    min-height: 90vh;
    padding: 70px 0 0 0;
    justify-content: center;
    align-items: center;
  }
  /* Gray Section */
  .gray-section .right-section {
    align-self: center;
  }
  /*Quote Help Section  */

  .line-icon {
    min-height: 80px;
  }
  .whatWeOffer-boxes {
    grid-template-columns: repeat(3, 1fr);
  }

  /* Query */
  .query-text {
    padding: 30px;
    width: 80%;
  }
  /* Testimonial section */
  .testimonial .testimonial-heading {
    width: 60%;
    margin: 0 auto 70px auto;
  }
  .testimonial-flex .testimonial-card {
    padding: 45px;
  }
  .testimonial-flex {
    flex-direction: column;
    gap: 20px;
  }
  .person-info h5 {
    font-size: 18px;
  }
  .person-info p {
    font-size: 15px;
  }
  .directions .next-control {
    height: 55px;
    width: 55px;
  }
  /* FAQ Section */
  .faq-section .faq-container {
    width: 65%;
  }

  .faq-container .faq-card {
    padding: 30px;
  }
  /* Footer */

  .footer-top-flex {
    flex-direction: column;
  }
  .footer-top .left-section h3 {
    width: 100%;
    text-align: center;
  }
  .footer-top .left-section {
    margin-bottom: 30px;
  }

  .footer-top .right-section li h5 {
    font-size: 18px;
  }

  .footer-bottom ul li,
  .footer-bottom p {
    font-size: 14px;
  }
}
/* mobile view  */

@media (max-width: 426px) {
  h2 {
    font-size: 35px;
    text-align: center;
    margin: 0 auto 34px auto;
    width: 100%;
  }
  .width-50 {
    width: 100%;
  }
  /* Header Section */

  /* Hero Section */
  .hero-section {
    padding: 50px 0;
  }
  .hero-section .hero-flex {
    flex-direction: column-reverse;
    gap: 30px;
  }
  .hero-section .orange-btn {
    display: block;
    margin: 0 auto;
  }
  /* gray section */
  .gray-section {
    padding: 70px 0;
  }
  .grey-flex {
    flex-direction: column;
  }
  .gray-section .left-section {
    margin-bottom: 30px;
  }
  .list-iconText-flex li .icon-text {
    width: 80%;
    /* padding-left: 10px; */
  }
  /* quote help section */
  .quoteHelp-flex {
    flex-direction: column;
  }
  .quoteHelp-section .left-section,
  .quoteHelp-section .left-section p {
    width: 100%;
    padding-bottom: 25px;
  }
  .quoteHelp-section .list-iconText-flex li {
    margin-bottom: 20px;
    gap: 8px;
  }
  .quoteHelp-section .right-section {
    padding-top: 10px;
  }
  /* what we offer */
  .whatWeOffer-boxes {
    grid-template-columns: repeat(2, 1fr);
  }
  .whatWeOffer-boxes .box {
    padding: 50px 0;
    text-align: center;
  }
  /* query section */

  .query-text {
    padding: 25px;

    width: 100%;
  }
  /* rating */
  .rating {
    padding: 30px 0;
  }
  .rating-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    text-align: center;
  }
  /* brand we serve */

  .brands {
    padding: 60px 0;
  }
  .brands-img-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  /* testimonial  */
  .testimonial {
    padding: 70px 0;
  }
  .testimonial .testimonial-heading {
    width: 100%;
    margin: 0 auto 50px auto;
  }
  .testimonial-flex {
    flex-direction: column;
    gap: 20px;
  }
  .testimonial-flex .testimonial-card {
    padding: 35px;
  }
  .person-info h5 {
    font-size: 16px;
  }
  .person-info p {
    font-size: 13px;
  }
  /* FAQ Section */
  .faq-section {
    padding: 70px 0;
  }

  .faq-section .faq-container,
  .faq-card .faq-answer p,
  .faq-section h3 {
    width: 100%;
  }
  .faq-container .faq-card {
    padding: 20px;
  }
  /* footer */
  .footer-bottom-flex {
    flex-direction: column;
  }
}
